@import "~@progress/kendo-theme-default/dist/all.scss";

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.k-tilelayout {
  user-select: none;
}

.k-drawer-content {
  width: 100%;
}

.k-appbar {
  font-family: Ubuntu;
  background: url('./images/header.svg') no-repeat;
  background-size: cover;
  color: white;

  ul {
    font-size: 14px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  li {
    margin: 0 10px;
  }
  li:hover {
    cursor: pointer;
    color: #84cef1;
  }
  .k-button {
    padding: 0;
    color: white;
    font-size: 30px;
  }
  .k-i-menu {
    font-size: 1.3rem;
  }
  .k-avatar {
    height: 45px;
    width: 45px;
    flex-basis: 45px;
  }
}

.k-drawer-item .k-item-text {
  align-self: center;
}
.k-drawer-item span.k-icon {
  font-size: 30px;
}

.page-container {
  margin: 1em;
}

.k-primary {
  width: 100%;
  padding: 0.5em 0;
}

/* HOME */

.actions {
  margin-bottom: 1rem;
  text-align: right;
}
.actions .k-button {
  width: auto;
  padding: 0.5rem 1rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 15px;
}
.k-card-header {
  font-weight: bold;
}
.k-card-header span {
  animation: fadeIn linear 1s;
}
.k-card-body {
  display: flex;
}
.k-card-body > svg {
  height: 100px;
  width: 100px;
  animation: fadeIn linear 1s;
}
.k-skeleton-circle {
  height: 100px;
  width: 100px;
}
.k-skeleton-rectangle {
  height: 100px;
  width: calc(100% - 100px);
}
.k-card ul {
  animation: fadeIn linear 1s;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.k-card li {
  padding: 0.5rem;
}
.k-icon {
  padding-right: 0.5rem;
}
.k-card {
  .k-i-user {
    color: green;
  }
  .k-i-email {
    color: red;
  }
  .k-i-globe {
    color: blue;
  }
}
.k-gauge {
  margin-left: auto;
}

/* Support */

.k-form {
  width: 500px;
}
.k-form .k-label {
  display: inline-block;
  width: 100%;
}
.k-form .k-primary {
  margin-top: 1rem;
}
.k-form > .k-textbox-container {
  margin-bottom: 1rem;
}

.k-upload {
  border: none;
}
.k-upload .k-dropzone {
  display: none;
}
.k-upload .k-upload-files {
  border: none;
}

/* DASHBOARD */

.chart-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

/* CALENDAR */

.k-scheduler-footer .k-dropdown {
  margin-left: 5px;
}

/* PRODUCTS */

.k-grid {
  transition: opacity 0.5s;
}

/* TEAM */

.two-columns {
  display: flex;
}

.k-listbox.k-listbox-toolbar-right .k-listbox-toolbar {
  margin-right: 8px;
}
