@import "~@progress/kendo-theme-default/dist/all.scss";

body {
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.k-drawer-content {
  width: 100%;
}

.k-appbar {
  font-family: Ubuntu;
  background: url('./images/header.svg') no-repeat;
  background-size: cover;
  color: white;

  ul {
    font-size: 14px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  li {
    margin: 0 10px;
  }
  li:hover {
    cursor: pointer;
    color: #84cef1;
  }
  .k-button {
    padding: 0;
    color: white;
    font-size: 30px;
  }
}

.k-drawer-item .k-item-text {
  align-self: center;
}
.k-drawer-item span.k-icon {
  font-size: 30px;
}

.page-container {
  margin: 1em;
}

.k-primary {
  width: 100%;
  padding: 0.5em 0;
}

/* HOME */

.k-tilelayout {
  background-color: transparent;
}

.filter {
  margin: 15px;
}

.custom-tile {
  padding: 0 1em;
  .k-icon {
    padding-right: 6px;
    margin-top: -2px;
  }
}

.share-popup {
  font-size: 2rem !important;
}

.k-fab-item-text {
  font-size: 30px;
}
.k-fab-item-icon {
  font-size: 30px;
}

/* SIGN UP */

.k-progressbar-horizontal {
  width: 100%;
  margin-bottom: 1rem;
}

.k-form {
  width: 500px;
}
.k-form .k-label {
  display: inline-block;
  width: 100%;
}
.k-form .k-primary {
  margin-top: 1rem;
}
.k-form > div {
  margin-bottom: 1rem;
}

.k-textarea > .k-input {
  width: 100%;
}

.k-radio-list {
  margin-top: 1rem;
}

.k-slider-track-wrap .k-label {
  display: inherit;
}

/* CALENDAR */

.k-scheduler-footer .k-dropdown {
  margin-left: 5px;
}

/* PRODUCTS */

.k-grid {
  transition: opacity 0.5s;
}

/* TEAM */

.two-columns {
  display: flex;
}

.k-listbox.k-listbox-toolbar-right .k-listbox-toolbar {
  margin-right: 8px;
}
